@font-face {
            font-family: 'Manchester' ;
            src: url('fonts/Manchester.ttf') format('truetype');
            font-weight: 400;
            font-style: normal;
            font-display: swap;
}

@font-face {
            font-family: 'Arkhip' ;
            src: url('./fonts/Arkhip.woff') format('woff');
            font-style: normal;
}

@font-face {
            font-family: 'you' ;
            src: url('./fonts/you.woff') format('woff');
            font-style: normal;
}

*{
            box-sizing: border-box;
}


body,html{
            height: 100%;
            width: 100%;
            margin: 0;
}

body::before {
    content: "";
    position: fixed; /* Фиксируем на весь экран */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Ваш фон перемещается сюда */
    background: url(picture/fon.png) no-repeat center center;
    background-size: cover;
    
    filter: blur(8px); /* Степень размытия */
    z-index: -1;       /* Слой под всеми элементами */
    transform: scale(1.1); /* Убирает белые полосы по краям из-за размытия */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.glavstanic{
            position: relative;
            left: 17%;
            top: 15%;
            height:  700px;
            width: 600px;
            border-radius: 10%;
            background: url(picture/fonstr.png) no-repeat center center fixed;
            background-size: cover;
            box-shadow: 2px 4px 20px #00000086;
}

.textstd{
            color: #6E4A30;
            font-family: 'Manchester';
}

.name{
            position: relative;
            padding: 15%;
            left:  25%;
            bottom: 11%;
            font-size: 50px;
            text-shadow: 2px 1px 3px #00000086;
}

.seti{
            position: relative;
            top: 22%;
            left: 40%;
            font-size: 20px;
            font-family: "Arkhip";
            color: #6e4a3085;
}

.write{
            position: relative;
            bottom:40%;
            left: 39%;
            font-size: 25px;
            background-color: #6e4a308c;
            padding: 10px 10px;
            width: 22%;
            border-radius: 25px;
            text-align: center;
}

.addfrends{
            position: relative;
            bottom: 47%;
            left: 65%;
            font-size: 25px;
            background-color: #6e4a308c;
            padding: 10px 10px;
            width: 30%;
            height: 7%;
            border-radius: 25px;
            text-align: center;
            
}

.drunbut{
    width: 100%;
    height: 100%;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.foto{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 37%;
            left: 7%;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background: url(picture/tatiana.jpg);
            background-position: 40% 0%;
            border: 2px solid #6E4A30;
}

.gallery{
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            height: 405px;
            left:7.5%;
            bottom: 43%;
            display: flex;
            justify-content: center;
            position: relative;
            padding: 5px 5px;
            background-color: rgba(199, 168, 133, 0.904);
            width: 85%;
            border-radius: 7%;
}

.galleryItem{
            display: grid;
            grid-template-columns: repeat(3,auto);
            gap: 13px;
}

.galleryItem div{
            border-radius: 15%;
            background-size: 155%;
            background-repeat: no-repeat;
}

.item{
            background-color: tomato;
            width: 140px;
            height: 140px;
}

.f1{
            background: url(picture/profil/f1.jpg);
}

.f2{
            background: url(picture/profil/f2.jpg);
}

.f3{
            background: url(picture/profil/f3.jpg);
}

.f4{
            background: url(picture/profil/f4.jpg);
}

.f5{
            background: url(picture/profil/f5.jpg);
}

.f6{
            background: url(picture/profil/f6.jpg);
}

.f7{
            background: url(picture/profil/f7.jpg);
}

.f8{
            background: url(picture/profil/f8.jpg);
}

.f9{
            background: url(picture/profil/f9.jpg);
}

.f10{
            background: url(picture/profil/f10.jpg);
}

.f11{
            background: url(picture/profil/f11.jpg);
}

.f12{
            background: url(picture/profil/f12.jpg);
}

.panel{
            position: relative;
            border-radius: 32px;
            left: 150%;
            bottom: 140%;
            padding: 15px 15px;
            width: 60%;
            height: 700px;
            background-color: #ffffff71;
            box-shadow: 2px 4px 20px #00000086;
}

.stdfontpannel{
            font-family: 'Arkhip';
            font-size: 35px;
            color: #6E4A30;
            text-align: center;
}


.frends{
            display: grid;
            grid-template-columns: repeat(3,auto);
            gap: 10px;
            padding: 20px 20px;
}

.frends div{
            width: 85px;
            height: 85px;
            border-radius: 50%;
}


.frend1{
            background: url(picture/frends/nyana.jpg);
            background-size: 100%;
}
.frend2{
            background: url(picture/frends/onegin.jpg);
            background-size: 150%;
}


.frend3{
            background: url(picture/frends/ленский.jpg);
            background-size: 140%;
}

.play{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:  none;
    background: url(picture/plastinca.png);
    background-color:#000000;
    background-size: 110%;
    background-position: 40% 20%;
    cursor: pointer;
}
.musname{
    font-size: 15px;
    padding: 40px 40px;
}

.allplayer{
    width: 201px;
    height: 10px;
    background-color: #6E4A30;
    border-radius: 5px;
}

.allplayer2{
    width: 201px;
    height: 10px;
    background-color: #6E4A30;
    border-radius: 5px;
}

.progressplayer{
    width: 0%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.progressplayer2{
    width: 0%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.drun{
    opacity: 0;
    position: absolute;
    text-align: center;
    border: #855a3b59 2px solid;
    border-radius: 15px;
    padding: 10px 10px;
    height: 125px;
    width: 275px;
    bottom: -17%;
    left: -40%;
    background-color: #e6d2bc;
    font-size: 25px;
    color: #6E4A30;
    font-family: 'you';
}

.drun.active{
    opacity: 1;
    animation: drun 2s;
    animation-delay: 5s;
}


@keyframes drun{
    from{opacity: 1;};
    to{opacity: 0;};
}
.zayavka{
    width: 260px;
    padding: 5px 5px;
    font-size: 17px;
    text-align: left;
    position: relative;
    bottom: 7px;
    color:#00000056;
    z-index: 10;
}


.m2n{
    position: relative;
    bottom: 120px;
    left:30px;
}

.m2p{
    position: relative;
    bottom: 150px;
    left: 90px;
}

.m2pl{
    position: relative;
    bottom: 200px;
}


.m1n{
    position: relative;
    bottom: 30px;
    left:30px;
}

.m1p{
    position: relative;
    bottom: 57px;
    left: 90px;
}

.m1pl{
    position: relative;
    bottom: 110px;
}

.grup{
    position: relative;
    bottom: 180px;
}

.line{
    width: 325px;
    height: 4px;
    border-radius: 10px;
    background-color: #885e3f;
}

.line1{
    position: relative;
    bottom: 435px;
}

.line2{
    position: relative;
    bottom: 190px;
}

.g1{
    position: relative;
    bottom: 170px;
    left: 20px;

    font-size: 17px;
}

.gfoto{
    width: 60px;
    height: 60px;
    border: #000000;
    border: 2px solid black;
    border-radius: 100px;
}

.g1foto{
    position: relative;
    bottom: 40px;
    right: 17px;
    background: url(picture/litk.jpg);
    background-size: 100px;
}

.g1pod{
    color: #000000a2;

    font-size: 13px;
    position: relative;
    right: 50px;
    top: 3px;
}
.g2{
    position: relative;
    bottom: 190px;
    left: -5px;

    font-size: 17px;
}

.g2pod{
    color: #000000a2;

    font-size: 13px;
    position: relative;
    right: 30px;
    top: 3px;
}

.g2foto{
    background: url(picture/ball.jpg);
    background-size: 100px;

    position: relative;
    bottom:40px;
    left: 8px;
}